ul,
li {
  list-style: none;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  background-color: rgba(182, 210, 221, 0.822);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.post {
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100rem;
  margin: 0 auto;
}
.post__left, .post__right {
  width: calc(50% - 1rem);
}
.post__media {
  height: 30rem;
  position: relative;
  margin-bottom: 3.5rem;
}
.post__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.post__image--small {
  -o-object-fit: cover;
     object-fit: cover;
  width: 15rem;
  height: 10rem;
  margin-right: 1.5rem;
  flex-shrink: 0;
}
.post__category {
  color: white;
  font-size: 1.2rem;
  display: inline-block;
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  background-image: linear-gradient(to right, #fc556f, orange);
  z-index: 2;
  top: 1.2rem;
  left: 2rem;
}
.post__icon {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  color: white;
  background-image: linear-gradient(to right, #fc556f, orange);
  border-radius: 5rem;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 2rem;
  transform: translateY(50%);
}
.post-author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  color: #333;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.post-author__avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
}
.post-author__name {
  margin-right: 2.5rem;
  padding-right: 2.5rem;
  position: relative;
}
.post-author__name:before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: #fc556f;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.post__date {
  position: relative;
  font-size: 1.4rem;
}
.post__date--small {
  top: 1.5rem;
}
.post__title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 2rem;
}
.post__title--small {
  font-size: 1.6rem;
  margin-bottom: 0;
}
.post__desc {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #999;
}
.post__item {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
}
.post__item:not(:last-child) {
  margin-bottom: 3.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #eee;
}
.post__content {
  width: 100%;
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .post__left, .post__right {
    width: 100%;
  }
  .post__left {
    margin-bottom: 1rem;
  }
  .post__date--small {
    top: 1.8rem;
  }
  .post__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  .post__title--small {
    margin-top: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */